@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100dvh;
   font-size: clamp(15px, 5vw, 20px);
   background-color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: clamp(300px, 50vw, 600px);
    min-height: 500px; 
    max-height: 700px; /* caso o conteudo extrapole */
    padding: 1rem; 
    box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.282);
    border-radius: 10px;
    position: relative;
    background-color: white;
}

main > * {margin: 10px;}

h1 {
    text-align: center;
    font-size: calc(2.1rem - 2px); 
    color: rgb(67, 108, 211);
    font-family: 'Franklin Gothic Medium',  'Arial Narrow', Arial, sans-serif;
}

.painel-input { /* container com todos os labels + inputs */
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: clamp(150px, 90%, 250px);
    font-size: 1rem;  
}

.label-inputs { /*label + input */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box-radio {
    display: flex;
    justify-content: space-between;
    font-size: clamp(14px, 3vw, 16px);
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 5px;
}

input#masculino {
    accent-color:darkblue;
}

input#feminino {
    accent-color: rgb(218, 10, 218);
}

button {
    width: 70px;
    padding: 8px;
    align-self: center;
    background-color: #50A184;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.29);
    font-weight: bold;
}

button:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

button:active {
    transform: scale(0.8);
    transition: 0.4s;
}

input {
    height: clamp(25px, 6vh, 30px);
    border-radius: 5px;
    border: 2px solid black;
    text-indent: 8px;
    font-size: clamp(14px, 3vw, 15px);
}

.painel-resultado {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 5px;

    width: clamp(150px, 90%, 250px);
    min-height: 0;
    padding: 12px;
    overflow: auto;
}

.painel-resultado p:first-child{
    font-size: 1.2rem;
    font-weight: bold;
}

.painel-resultado img {width: clamp(60px, 30%, 110px);}

.mensagem-erro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-size: clamp(14px, 3vw, 17px);
    background-color: rgb(208, 16, 16);
    color: white;
    padding: 0.5rem;
    border-radius: 4px;

    position: absolute;
    bottom: 0px;
    animation: error-message 5s ;
    opacity: 0;
    
}

.mensagem-erro img {
   max-width: 17px;
}

@keyframes error-message {
    from {transform: translateY(0); opacity: 0;}
    50% {transform: translatey(-100px); opacity: 1;}
    to {transform: translate(0); opacity: 0;}
}











